.comments-container {
    display: flex;
    padding: 50px;
    background-color: #ffffff;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;
  }
  
  .success-text {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 480px;
    text-align: center;
    margin-left: 30px;
    font-family: var(--font-eb-garamond);
  }
  
  .highlight {
    color: #00d100;
  }
  
  .billete-image {
    width: 340px;
    margin-top: -2px;
    margin-left: 100px;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
  }
  
  .moneda-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    gap: 26px;
  }
  
  .moneda-icon {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin: 5px 0;
    transition: transform 0.2s;
  }
  
  .moneda-icon:hover {
    transform: scale(1.2);
  }
  
  .comment-section {
    text-align: center;
    padding: 10px;
  }
  
  .comment-text {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 36px;
    text-align: center;
    font-family: var(--font-montserrat);
    line-height: 48px;
  }
  
  .comment-author {
    font-size: 32px;
    color: #000000;
    font-family: var(--font-montserrat);
  }

@media (max-width: 768px) {
  .comments-container {
    flex-direction: column; 
    padding: 40px; 


  .left-section {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px; 
  }

  .success-text {
    text-align: start; 
    margin-bottom: 10px; 
    margin-right: 60px;
    font-size: 40px;
  }

  .billete-image {
    position: relative;
    width: 120px; 
    left: 50px;
    top: 60px;
    margin-top: -150px;
  }

  .right-section {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
  }

  .moneda-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 22px; 
    width: 100%; 
  }

  .moneda-icon {
    cursor: pointer;
    margin: -6px 0;
    transition: transform 0.2s;
    width: 64px;
  }

  .comment-section {
    width: 100%; 
    text-align: center; 
    margin-top: -50px;
  }

  .comment-text {
    font-size: 28px;
    line-height: 38px; 
    margin-bottom: 8px; 
  }

}
}