/* General */
body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina rellenos predeterminados */
  box-sizing: border-box; /* Incluye bordes y padding en el ancho/alto */
  min-height: 100vh; /* Asegura que el cuerpo ocupe todo el alto de la ventana */
  width: 100%; /* Asegura que el cuerpo ocupe todo el ancho */
  display: flex; /* Utiliza flexbox para centrar o alinear contenido */
  flex-direction: column; /* Alinea los hijos verticalmente */
  overflow-x: hidden; /* Previene desbordamiento horizontal */
}

/* Asegura que el contenido principal también abarque toda la altura restante */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Se expande al alto completo */
}

.logo-name {
  display: flex;
  align-items: center;
  gap: 15px; 
  cursor: pointer;
  position: relative; 
}

.logo-icon {
  height: 71px;
  width: 72px;
  flex-shrink: 0; /* Evita que el icono se reduzca de tamaño */
  position: relative;
  top: 8px;
}

.fortubil {
  font-size: 50px; /* Tamaño del título */
  font-weight: 900;
  color: #fff;
  white-space: nowrap;  
  position: absolute;
  left: 85px;
  top: 6px; /* Ajusta el texto hacia arriba */
}

.nav-items {
  display: flex;
  gap: 30px;
  transition: all 0.3s ease;
}

.nav-link.active {
  color: #00ff00; /* Color verde para el enlace activo */
}

/* Estilo predeterminado de los enlaces */
.nav-link {
  color: #fff;
  font-size: 22px; /* Ajusta el tamaño de los enlaces */
  text-decoration: none;
  position: relative;
  font-family: var(--font-montserrat);
  transition: color 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
  transform: scaleX(1); /* Escala la barra al ancho completo */
}

.nav-link:hover {
  color: #00ff00;
}

/* Subrayado en hover */
.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la posición de la línea subrayada */
  width: 100%;
  height: 2px;
  background-color: #00ff00; /* Color verde de la línea */
  transition: width 0.3s ease;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-indigo-200);
  padding: var(--padding-3xs) var(--padding-17xl);
  position: sticky;
  top: 0;
  z-index: 99;
  gap: 20px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  overflow-x: hidden;
  height: auto;
  max-width: 100%; /* Asegura que no se desborde */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.plataforma-de-educacion {
  position: relative;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  margin-block-start: 45px;
  margin-block-end: 2px;
  font-size: 20px;
  font-weight: 800;
  color: var(--color-indigo-100);
  left: 10px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.como-funciona-fortubil-container{
  align-self: center;
}

.dinero {
  color: var(--color-limegreen);
}
.span {
  color: var(--color-black);
}

.despierta-tu-potencial {
  margin-block-start: 0;
  margin-block-end: 30px;
  align-self: center;
}

.despierta-tu-potencial-container {
  margin: 1px;
  align-self: stretch;
  position: relative;
  font-size: 70px;
  line-height: 88px;
  font-weight: 700;
  font-family: var(--font-eb-garamond);
  text-align: center;
  color: var(--color-black);
  width: 100%;
  max-width: 100%;
}
.tagline {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.ilustracion-icon {
  height: auto;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}
.illustration {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 63px 0 var(--padding-43xl);
  box-sizing: border-box;
}
.illustration,
.principal-inner,
.tagline-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.tagline-parent {
  width: 998px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.principal-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo-100);
  font-family: var(--font-montserrat);
}
.que-quieres-aprender {
  position: relative;
  top: 28px;
  width: 548px;
  height: 50px;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: lighter;
  width: 100%;
  max-width: 100%;
}
.search-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
.barra-buscar-child {
  height: 64px;
  width: 549px;
  position: relative;
  border-radius: var(--br-61xl);
  background: linear-gradient(90deg, #5f259e, #470f83 0.01%, #8f38ff);
  display: none;
  max-width: 100%;
}
.barra-buscar-input {
  width: 988px;
  height: 60px;
  border: none;
  border-radius: var(--br-61xl);
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-size-xl);
  outline: none;
  position: relative;
  z-index: 2;
}
.barra-buscar-input::placeholder {
  color: var(--color-white);
  opacity: 0.65;
  font-style: italic;
}
.search-example {
  width: 16px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.search-icon {
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.search-icon:hover {
  transform: scale(1.2); 
}

.suggestions-container {
  border: 2px solid #ffffff;
  border-radius: px;
  background-color: #fff;
  margin-top: 6px;
  max-height: 140px;
  overflow-y: auto;
  position: relative;
  z-index: 1000;
  width: calc(100% - 40px);
  top: -4px;
  right: 12px;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  z-index: 1;
}
.suggestion-item {
  padding: 12px;
  cursor: pointer;
  border-bottom: 2px solid #eee;
}

.suggestion-item:hover {
  background-color: #ececec;
}

.loading-message {
  color: blue;
  font-size: var(--font-size-xl);
  margin-top: 18px;
}

.error-message {
  color: red;
  font-size: var(--font-size-xl);
  margin-top: 18px;
}

.selected-term-container {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid #36135c;
  border-radius: 16px;
  background-color: #d8d8d8;
  font-size: 25px;
}

.selected-term-container a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 25px;
}

.barra-buscar {
  align-self: stretch;
  border-radius: var(--br-61xl);
  background: linear-gradient(90deg, #5f259e, #470f83 0.01%, #8f38ff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-9xl) var(--padding-4xs) var(--padding-27xl);
  max-width: 100%;
  gap: var(--gap-xl);
  position: relative;
}
.search-bar-container {
  width: 559px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-47xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}

.fortubil1 {
  color: var(--color-limegreen);
}

.feature-title {
  font-weight: 800; 
  margin-top: 1%;
  font-family: var(--font-montserrat); 
  width: 100%;
  max-width: 100%; 
}
.feature-description {
  font-family: var(--font-montserrat); 
  width: 100%;
  max-width: 100%;
}
.features-grid,
.frame-group {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  width: 100%;
}
.frame-group {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.5px;
  width: 100%;
  max-width: 100%;
}
.features-grid {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xl);
  min-width: 584px;
}
.features {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 48px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  font-family: var(--font-montserrat);
}

.how-it-works-content,
.how-it-works-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.how-it-works-content {
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.how-it-works-content-wrapper {
  align-self: center;
  flex-direction: row;
  padding: 0 59px var(--padding-16xl) 58px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-eb-garamond);
  font-size: 35px;
}

.footer {
  padding: 10px 20px;
  background-color: #470f83;
  font-family: var(--font-eb-garamond);
  position: relative;
  width: 100%;
  max-width: 100%;
}

.cursos2 {
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.cursos-para-mejorar-container {
  font-size: var(--font-size-31xl);
  font-weight: 800;
  margin-bottom: 15px;
  color: #fff;
}

.cursos-title {
  color: #00d100;
}

.courses-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: var(--font-montserrat);
}

.course-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

.course-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.course-item a {
  font-weight: 800;
  color: #fff;
  font-size: 24px;
  width: 280px;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
}

.course-item a:hover {
  color: #0288d1;
  text-decoration: underline;
}

.course-item p {
  font-size: 16px;
  font-weight: normal;
  color: #ddd;
  font-family: var(--font-montserrat);
}

.more-courses-button {
  position: absolute;
  bottom: 10px;
  right: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-courses-button-reves {
  position: absolute;
  bottom: -25px;
  left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-than-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #00D100;
  border: 2px solid #00D100;
  padding: 10px;
  transition: transform 0.3s ease;
}

.more-than-icon:hover {
  transform: scale(1.1);
}

.explore-text {
  color: #00d100;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.courses-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

/* Animación cuando el menú está abierto */
.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {

.hamburger-menu {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1100; 
  position: absolute; 
  top: 40px; 
  right: 40px;
  transition: all 0.3s ease; 
}

.hamburger-menu.open {
  position: absolute; 
  top: 50px; 
  right: 15px;
}

/* Barras del menú */
.hamburger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00d100; 
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* Animación de la X */
.hamburger-menu.open span:nth-child(1) {
  transform: rotate(deg) translate(8px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0; 
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-indigo-200);
  padding: var(--padding-3xs) var(--padding-17xl);
  position: fixed; /* Fija el encabezado a la parte superior */
  top: 0; /* Posición superior */
  left: 0; /* Asegura que se alinee al borde izquierdo */
  right: 0; /* Asegura que se alinee al borde derecho */
  z-index: 999; /* Asegura que esté encima de otros elementos */
  gap: 20px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  overflow-x: hidden;
  height: auto;
  max-width: 100%; /* Asegura que no se desborde */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-items {
  position: fixed;
  top: 4%;
  right: 0;
  width: 40%;
  height: auto;
  background-color: var(--color-indigo-200);
  display: none; 
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 1000;
  animation: slideIn 0.3s ease-out; 
}

.nav-items.show {
  display: flex; 
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.logo-icon {
  height: 60px;
  width: 59px;
  flex-shrink: 0; 
  position: relative;
  top: 8px;
  right: 23px;
  margin-top: 8px;
}

.fortubil {
  font-size: 31px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;  
  position: absolute;
  left: 44px;
  top: 20px; 
}

.plataforma-de-educacion {
  position: relative;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  margin-block-start: 45px;
  margin-block-end: 2px;
  font-size: 20px;
  font-weight: 800;
  color: var(--color-indigo-100);
  left: 10px;
  width: 100%;
  max-width: 100%;
  text-align: start;
  margin-top: 130px;
}

.despierta-tu-potencial-container {
  margin: 1px;
  align-self: stretch;
  position: relative;
  font-size: 70px;
  line-height: 58px;
  font-weight: 700;
  font-family: var(--font-eb-garamond);
  text-align: start;
  color: var(--color-black);
  width: 100%;
  max-width: 100%;
  margin-top: -4px;
  font-size: 60px;
}

body {
  overflow-x: hidden; 
  word-wrap: break-word; 
}

#root {
  overflow-x: hidden; 
}

/* Estilo global para asegurar contenedores adaptativos */
* {
  max-width: 100%; 
  box-sizing: border-box; 
}

.features-grid {
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  gap: 20px; 
  min-width: auto; 
}

.features {
  flex-direction: column; 
  gap: 20px; 
  font-size: var(--font-size-4xl); 
}

.frame-group {
  gap: 10px; 
  align-items: center; 
}

.how-it-works-content-wrapper {
  flex-direction: column; 
  padding: 0 20px; 
  text-align: center; 
}

.how-it-works-content {
  gap: 15px; 
}
.search-label {
  flex-direction: row; /* Mantiene input e ícono en una línea */
  justify-content: center; /* Centra los elementos */
  padding: 0 8px; /* Reduce el espacio lateral */
}

.search-icon {
  height: 35px; /* Más pequeño en móviles */
  width: 35px;
}
.search-icon:hover {
  transform: scale(1.2); /* Animación al hacer hover */
}
.more-courses-button {
  position: absolute;
  bottom: 10px;
  right: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-courses-button-reves {
  position: absolute;
  bottom: -25px;
  left: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-text {
  color: #00d100;
  font-size: 30px;
  margin-top: 10px;
  position: relative;
  top: -10px;
  left: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
}






