.logo-name {
  display: flex;
  align-items: center;
  gap: 15px; 
  cursor: pointer;
  position: relative; 
}

.logo-icon {
  height: 71px;
  width: 72px;
  flex-shrink: 0; /* Evita que el icono se reduzca de tamaño */
  position: relative;
  top: 8px;
}

.fortubil {
  font-size: 50px; /* Tamaño del título */
  font-weight: 900;
  color: #fff;
  white-space: nowrap;  
  position: absolute;
  left: 85px;
  top: 6px; /* Ajusta el texto hacia arriba */
}

.nav-items {
  display: flex;
  gap: 60px; /* Ajusta el espacio entre los enlaces */
  align-items: center;
}

.nav-link.active {
  color: #00ff00; /* Color verde para el enlace activo */
}

/* Estilo predeterminado de los enlaces */
.nav-link {
  color: #fff;
  font-size: 22px; /* Ajusta el tamaño de los enlaces */
  text-decoration: none;
  position: relative;
  font-family: var(--font-montserrat);
  transition: color 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
  transform: scaleX(1); /* Escala la barra al ancho completo */
}

.nav-link:hover {
  color: #00ff00;
}

/* Subrayado en hover */
.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la posición de la línea subrayada */
  width: 100%;
  height: 2px;
  background-color: #00ff00; /* Color verde de la línea */
  transition: width 0.3s ease;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-indigo-200);
  padding: var(--padding-3xs) var(--padding-17xl) var(--padding-4xs) var(--padding-11xl);
  position: sticky;
  top: 0;
  z-index: 99;
  gap: 20px; /* Ajuste de espacio entre logo y enlaces */
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.plataforma-de-educacion {
  position: relative;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  margin-block-start: 45px;
  margin-block-end: 2px;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  align-self: center;
  color: var(--color-indigo-100);
  left: 50px;
}

.como-funciona-fortubil-container{
  align-self: center;
}

.dinero {
  color: var(--color-limegreen);
}
.span {
  color: var(--color-black);
}

.despierta-tu-potencial {
  margin-block-start: 0;
  margin-block-end: 30px;
  align-self: center;
}

.despierta-tu-potencial-container {
  margin: 1px;
  align-self: stretch;
  position: relative;
  font-size: 70px;
  line-height: 88px;
  font-weight: 700;
  font-family: var(--font-eb-garamond);
  text-align: center;
  color: var(--color-black);
  width: 1100px;
}
.tagline {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.ilustracion-icon {
  height: 639px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.illustration {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 63px 0 var(--padding-43xl);
  box-sizing: border-box;
}
.illustration,
.principal-inner,
.tagline-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.tagline-parent {
  width: 998px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.principal-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo-100);
  font-family: var(--font-montserrat);
}
.que-quieres-aprender {
  position: relative;
  top: 28px;
  width: 548px;
  height: 50px;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: lighter;
}
.search-label {
  width: 526px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.barra-buscar-child {
  height: 64px;
  width: 549px;
  position: relative;
  border-radius: var(--br-61xl);
  background: linear-gradient(90deg, #5f259e, #470f83 0.01%, #8f38ff);
  display: none;
  max-width: 100%;
}
.barra-buscar-input {
  width: 988px;
  height: 60px;
  border: none;
  border-radius: var(--br-61xl);
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-size-xl);
  outline: none;
  position: relative;
  z-index: 2;
}
.barra-buscar-input::placeholder {
  color: var(--color-white);
  opacity: 0.65;
  font-style: italic;
}
.search-example {
  width: 16px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.search-icon {
  height: 45px;
  width: 37px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.barra-buscar {
  align-self: stretch;
  border-radius: var(--br-61xl);
  background: linear-gradient(90deg, #5f259e, #470f83 0.01%, #8f38ff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-9xl) var(--padding-4xs) var(--padding-27xl);
  max-width: 100%;
  gap: var(--gap-xl);
  position: relative;
}
.search-bar-container {
  width: 559px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-47xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}

.fortubil1 {
  color: var(--color-limegreen);
}

.feature-title {
  font-weight: 800; 
  margin-top: 1%;
  font-family: var(--font-montserrat);  
}
.feature-description {
  font-family: var(--font-montserrat);  
}
.features-grid,
.frame-group {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
}
.frame-group {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.5px;
  min-width: 287px;
}
.features-grid {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xl);
  min-width: 584px;
}
.features {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 48px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  font-family: var(--font-montserrat);
}

.how-it-works-content,
.how-it-works-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.how-it-works-content {
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.how-it-works-content-wrapper {
  align-self: center;
  flex-direction: row;
  padding: 0 59px var(--padding-16xl) 58px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-eb-garamond);
  font-size: 35px;
}

.footer {
  padding: 10px 20px;
  background-color: #470f83;
  font-family: var(--font-eb-garamond);
  position: relative;
}

.cursos2 {
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.cursos-para-mejorar-container {
  font-size: var(--font-size-31xl);
  font-weight: 800;
  margin-bottom: 15px;
  color: #fff;
}

.cursos-title {
  color: #00d100;
}

.courses-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: var(--font-montserrat);
}

.course-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

.course-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.course-item a {
  font-weight: 800;
  color: #fff;
  font-size: 24px;
  width: 280px;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
}

.course-item a:hover {
  color: #0288d1;
  text-decoration: underline;
}

.course-item p {
  font-size: 16px;
  font-weight: normal;
  color: #ddd;
  font-family: var(--font-montserrat);
}

.more-courses-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-courses-button-reves {
  position: absolute;
  bottom: -25px;
  left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-than-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #00D100;
  border: 2px solid #00D100;
  padding: 10px;
  transition: transform 0.3s ease;
}

.more-than-icon:hover {
  transform: scale(1.1);
}

.explore-text {
  color: #00d100;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.courses-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
